/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./app/users/users.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.users_text__Q9ju2{
    color: red;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./components/mainContainer.modulee.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.wrap{
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}

.nav {
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(203, 214, 41);
    border-radius: 10px;
}

.nav a{
    padding: 10px;
    font-size: 20px;
}
