.wrap{
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}

.nav {
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(203, 214, 41);
    border-radius: 10px;
}

.nav a{
    padding: 10px;
    font-size: 20px;
}